<div id="pokedex_container">
  <div id="pokedex_left_side" class="pokedex_sides">
    <div id="pokedex_trasera" class="pokedex_sides"></div>
    <div id="pokedex_trasera-1" class="pokedex_sides"></div>
    <div id="pokedex_trasera-2" class="pokedex_sides"></div>
    <div id="pokedex_pokeicon">
      <div id="pokedex_marco">
        <img id="icono" src="" alt="">
      </div>
    </div>
  </div>
  <div id="pokedex_right_side" class="pokedex_sides">

    <div id="pokedex_id_pokemon" class="pokedex_poketext">ID del Pokémon</div>
    <div id="pokedex_nombre_pokemon" class="pokedex_poketext">Nombre del Pokémon</div>
    <div id="pokedex_especie_pokemon" class="pokedex_poketext">Especie</div>
    <div id="pokedex_altura_pokemon" class="pokedex_poketext">Altura</div>
    <div id="pokedex_peso_pokemon" class="pokedex_poketext">Peso</div>
    <div id="pokedex_tipo_pokemon" class="pokedex_poketext">Tipo</div>
    <div id="pokedex_habitat_pokemon" class="pokedex_poketext">Hábitat</div>
    <div id="pokedex_descripcion_pokemon" class="pokedex_poketext">Descripción</div>

  </div>

  <div id="prueba">
  </div>
</div>