* {
  box-sizing: border-box;
  padding: 0;
}

#container_historial {
  height: 100vh;
  background-color: #183153;
  color: white;
}

#historial {
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-align: center;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pokedex_button {
  margin-top: .1em;
  background-color: #F0F1F3;
  border: none;
  color: #183153;
  padding: 1em 2em;
  display: block;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}