* {
    box-sizing: border-box;
}

#container_historial {
    height: 98.4vh;
    background-color: #2377af;
}

h3 {
text-align: center;
padding: 25px;
}

#pokedex_button {
    background-color: #f48b36;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}
