.fila{
  display: flex;
}
app-history-sidebar{
  position: sticky;
  left: 0;
  top: 0;
}
app-search-sidebar{
  position: sticky;
  right: 0;
  top: 0;
}

app-evolution-{
  height: 100%;
  vertical-align: bottom;
}
body{
  background-image: url(		https://pokedle.net/img/Background.b373eb68.png);
  background-size: cover;
}