#sidebar_container {
  height: 100vh;
  background-color: #183153;
  color: white;
}

#buscador {
  background-color: #183153;
  height: 15vh;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokedex_search {
  border-radius: 5px;
}

#pokedex_list {
  padding: 1em 2em 0 2em;
  overflow-y: scroll;
  height: 100%;
}

#pokedex_list > div {
  background-color: #F0F1F3;
  color: #183153;
  border-radius: 5px;
}

#pokedex_list img {
  height: 50px;
  float: left;
}

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  white-space: nowrap;
}


.search-sidebar_id_pokemon {
  background-color: #DC0A2D;
  color: white;
  height: 50px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}